<template>
  <require from="../layer-editor/layer-editor"></require>

  <div class="row">
    <div class="col s12 m6">
      <md-card md-title="Scenarios">
        <md-collection>
          <md-collection-item class="accent-text ${activeScenario.id === scenario.id ? 'active' : ''}" repeat.for="scenario of scenarios">
            ${ scenario.title }
            <div class="secondary-content">
              <a href="#!" click.delegate="selectScenario(scenario)">
                <i class="material-icons black-text">input</i>
              </a>
            </div>
          </md-collection-item>
        </md-collection>
      </md-card>
      <div class="button-row right">
        <button md-button click.delegate="addScenario()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
    <div class="col s12 m6">
      <div show.bind="showScenarioSelector">
        <md-card md-title="Edit scenario">
          <div>
            <md-input md-label="Name" md-value.bind="activeScenario.title"></md-input>
            <md-input md-label="Simulation name" md-value.bind="activeScenario.simTitle"></md-input>
            <md-input md-label="Description" md-value.bind="activeScenario.description"></md-input>
            <md-input md-label="Tracks" disabled md-value.one-way="activeScenario.trackIds.length"></md-input>
            <div class="collapsible-basic-use">
              <ul md-collapsible md-collapsible.ref="collapsible">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">timelapse</i>Time settings</div>
                  <div class="collapsible-body">
                    <md-input md-label="Start time" md-type="time" md-value.bind="activeScenario.start.time" md-placeholder="08:00"></md-input>
                    <div ref="dpWrapper">
                      <input md-datepicker="container.bind: dpWrapper; value.two-way: activeScenario.start.date;" type="date" placeholder="pick a start date"
                      />
                    </div>
                    <md-input md-label="End time" md-type="time" md-value.bind="activeScenario.end.time" md-placeholder="19:00"></md-input>
                    <div ref="dpWrapper2">
                      <input md-datepicker="container.bind: dpWrapper2; value.two-way: activeScenario.end.date;" type="date" placeholder="pick an end date"
                      />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">place</i>Map details</div>
                  <div class="collapsible-body">
                    <div class="row">
                      <md-input class="col s6" md-label="latitude" md-type="number" md-value.bind="activeScenario.center.lat" md-placeholder="51.00"></md-input>
                      <md-input class="col s6" md-label="longitude" md-type="number" md-value.bind="activeScenario.center.lng" md-placeholder="5.00"></md-input>
                    </div>
                    <div class="row">
                      <select class="col s3" md-select="label: zoom level" value.two-way="activeScenario.zoom">
                        <option value="" disabled selected>low level of detail</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="" disabled>high level of detail</option>
                      </select>
                      <select class="col s8" md-select="" value.two-way="activeScenario.layers.baseIds">
                        <option value="" disabled selected>Select base layer</option>
                        <option value="${layer.id}" repeat.for="layer of baseLayers">${layer.title}</option>
                      </select>
                      <div class="col s1" style="margin-top: 10px;">
                        <a route-href="route: layers; params.bind: {layertype: 'baseLayers' }">
                          <i class="material-icons">mode_edit</i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </md-card>
        <div class="button-row right">
          <button md-button class="modal-trigger" href="#deleteScenarioModal">
            <i class="material-icons">delete</i>
          </button>
          <button md-button click.delegate="saveScenario()">
            <i class="material-icons">save</i>
          </button>
        </div>
      </div>
    </div>

    <!-- MODALS -->
    <div id="deleteScenarioModal" md-modal>
      <div class="modal-content">
        <h4>Delete scenario?</h4>
        <p>Do you really want to delete "${activeScenario.title}"?</p>
      </div>
      <div class="modal-footer">
        <button click.delegate="deleteScenario()" md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">OK</button>
        <button md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">Cancel</button>
      </div>
    </div>

    <!-- <div id="editBaseLayersModal" md-modal>
      <div class="modal-content">
        <layer-editor model-type="baseLayers"></layer-editor>
      </div>
      <div class="modal-footer">
        <button click.delegate="deleteScenario()" md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">OK</button>
        <button md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">Cancel</button>
      </div>
    </div> -->

</template>