<template>
  <div class="row">
    <div class="col s12 m6">
      <md-card md-title="Scenarios">
        <md-collection>
          <md-collection-item class="accent-text" repeat.for="scenario of scenarios">
            ${ scenario.title }
            <div class="secondary-content">
              <a href="#!" click.delegate="selectScenario(scenario)">
                <i class="material-icons">mode_edit</i>
              </a>
            </div>
          </md-collection-item>
        </md-collection>
      </md-card>
      <div class="button-row right">
        <button md-button click.delegate="addScenario()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
    <div class="col s12 m6">
      <div show.bind="showScenarioSelector">
        <md-card md-title="Edit scenario">
          <div>
            <md-input md-label="Name" md-value.bind="activeScenario.title"></md-input>
            <md-input md-label="Description" md-value.bind="activeScenario.description"></md-input>
            <select md-select="label: select type" value.two-way="activeScenario.scenarioType">
              <option value="" disabled selected>select an item</option>
              <option value="text">text</option>
              <option value="textarea">textarea</option>
              <option value="number">number</option>
              <option value="option">option</option>
            </select>
            <md-input md-label="Default value" md-value.bind="activeScenario.defaultValue"></md-input>
            <md-input md-label="Unit" md-value.bind="activeScenario.unit"></md-input>
            <md-input show.bind="activeScenario.scenarioType === 'option'" md-label="Options (one on each line)" md-text-area="true"
              md-value.bind="activeScenario.options"></md-input>
          </div>
        </md-card>
        <div class="button-row right">
          <button md-button class="modal-trigger" href="#deleteScenarioModal">
            <i class="material-icons">delete</i>
          </button>
          <button md-button click.delegate="saveScenario()">
            <i class="material-icons">save</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODALS -->
  <div id="deleteScenarioModal" md-modal md-modal.ref="modal">
    <div class="modal-content">
      <h4>Delete scenario?</h4>
      <p>Do you really want to delete "${activeScenario.title}"?</p>
    </div>
    <div class="modal-footer">
      <button click.delegate="deleteScenario()" md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">OK</button>
      <button md-button="flat: true;" md-waves="color: accent;" class="modal-action modal-close">Cancel</button>
    </div>
  </div>

</template>