/*Side menu: https://www.sitepoint.com/pure-css-off-screen-navigation-menu/*/


/* Micro reset */


/* body {
    padding-top: 80px;
    font-size: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */

p {
    margin: 0;
    padding: 0;
}

#main .table>tbody>tr>td {
    vertical-align: middle;
}

#main hr {
    border-top: 4px double #8c8b8b;
    text-align: center;
    margin: 40px 0;
}

#main hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #fff;
    color: #8c8b8b;
    font-size: 18px;
}


/* Site Wrapper - Everything that isn't navigation */

.site-wrap {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Critical position and size styles */
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    background-color: white;
    /* Needs a background or else the nav will show through */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    padding: 0 15px 30px 0;
    /* non-critical apperance styles */
    /*padding: 0em 2em;*/
    /*background-image: linear-gradient(135deg, rgb(254, 255, 255) 0%, rgb(221, 241, 249) 35%, rgb(160, 216, 239) 100%);*/
    background-size: 200%;
}


/* .site-wrap p {
    line-height: 32px;
} */

.site-wrap table {
    line-height: normal;
}

.site-wrap input {
    padding: 0 10px;
}

#goback {
    left: 0;
    margin-top: 2px;
    outline: none;
    z-index: 10000;
    position: absolute;
}

#header {
    margin-top: -10px;
    /*margin: 5px 0 0 15px;
  padding-left: 0;*/
}


/* span.spacer::before {
    content: ".";
    font-size: 10pt;
    color: white;
    white-space: nowrap;
} */

span.spacer {
    padding: 0 0.15em;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 768px) {
    #sidemenu {
        top: 0px;
        bottom: 0;
        left: 0;
        width: 25%;
        overflow-y: auto;
    }
    #main_content {
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        padding: 0 1em;
        max-width: 36em;
    }
}

#main_content hr {
    border-top: 5px solid #eee;
}

#main_content h1 {
    margin-bottom: 30px;
}

#main_content,
#sidemenu {
    position: relative;
    height: 100%;
}

.site-wrap .radio-inline {
    padding: 10px 10px 0px 25px;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@media print {
    .page-host {
        position: absolute;
        left: 10px;
        right: 0;
        top: 50px;
        bottom: 0;
        overflow-y: inherit;
        overflow-x: inherit;
    }
}

section {
    margin: 0 20px;
}

.navbar {
    font-size: 1.3em;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.pictureDetail {
    max-width: 425px;
}


/* animate page transitions */

section.au-enter-active {
    -webkit-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
}

div.au-stagger {
    /* 50ms will be applied between each successive enter operation */
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
}

.card-container.au-enter {
    opacity: 0;
}

.card-container.au-enter-active {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #337ab7;
    color: rgb(136, 172, 217);
    margin-bottom: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card .content {
    margin-top: 10px;
    padding: 10px;
    float: left;
}

.card .content .title {
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, .5);
    font-size: 24px;
    font-weight: bold;
}

.card .content .info {
    display: block;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 70px;*/
    /*border-bottom: 1px #FFF solid;*/
    border-radius: 6px 6px 0 0;
}

.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
    float: left;
    margin: 20px;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px #FFF solid;
}


/* animation definitions */

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Navigation Menu - Background */

.navigation {
    /* critical sizing and position styles */
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 5px;
    /* non-critical appearance styles */
    list-style: none;
    background: #111;
}


/* Navigation Menu - List items */


/*.nav-item {*/


/* non-critical appearance styles */


/*width: 300px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;*/


/*}*/

.nav-item a {
    /* non-critical appearance styles */
    display: block;
    /*padding: 1em;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    color: white;*/
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
    color: #c74438;
    /*background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(75, 20, 20, 0.65) 100%);*/
}

.nav-justified>li>a {
    font-size: 1.5em;
    margin-top: -10px;
}

.jumbotron h1>p {
    font-size: 63px;
}


/* Nav Trigger */

.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 2;
    /* non-critical apperance styles */
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}


/* Make the Magic Happen */

.nav-trigger+label,
.site-wrap {
    transition: left 0.2s;
}

.nav-trigger:checked+label {
    left: 315px;
}

.nav-trigger:checked~.site-wrap {
    left: 300px;
    padding-right: 310px;
    /*box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);*/
}


/* Additional non-critical styles */


/*h1,
h2,
h3,
p {
    max-width: 600px;
    margin: 0 auto 1em;
}*/

code {
    padding: 2px;
    background: #ddd;
}

.units,
.digits {
    color: green;
    font-weight: bold;
}

.tens.diamond,
.digits.diamond {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.digits.diamond {
    background: url(/img/blocks/green_diamond.png) no-repeat top left;
}

.tens.diamond {
    background: url(/img/blocks/red_diamond.png) no-repeat top left;
}

.tens {
    color: red;
    font-weight: bold;
}

.hundreds {
    color: black;
    font-weight: bold;
}

.thousands {
    color: blue;
    font-weight: bold;
}

table.bordered {
    border: 2px solid #000;
    font-weight: bold;
    margin: 10px;
}

table.bordered th,
table.bordered td {
    border: 1px solid #000 !important;
    padding: 2px 10px 10px 5px
}

td.class_thousands {
    background-color: #92D050;
    font-weight: bold;
}

td.class_thousands.units,
td.class_thousands.tens,
td.class_thousands.hundreds {
    background-color: #619428;
    color: black;
}

td.class_units {
    background-color: #FFFF00;
    font-weight: bold;
}

td.class_units.units,
td.class_units.tens,
td.class_units.hundreds {
    background-color: #FFC000;
    color: black;
}

div.center {
    margin: 0 auto 30px auto;
    width: 95%;
    border: 3px solid #337ab7;
    padding: 20px;
    position: relative;
    box-shadow: 10px 10px 5px #888888;
}

div.center.xs {
    text-align: center;
    width: 400px;
}

div.center.medium {
    text-align: center;
    width: 600px;
}

li.center {
    vertical-align: top;
    text-align: center;
}

.caption {
    margin: auto;
    width: 100%;
    position: relative;
    font-style: italic;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: auto;
    width: 250px;
}

.landscape {
    height: 250px;
    width: auto;
}

.square {
    height: 75px;
    width: 75px;
}

.score {
    margin-right: 5px;
    position: absolute;
    right: 20px;
    top: 5px;
    height: 100px;
}

.svg-center {
    word-spacing: 0;
    letter-spacing: 0;
    text-align: center;
}

.radio>label {
    display: block;
    font-size: 1.5em;
}


/* d3 */

.axis {
    font: 16px sans-serif;
}

.axis line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

path.marker {
    fill: red;
}

path.arc {
    fill: red;
}


/* Multiplication style */

.multiply {
    width: 250px;
    margin: 20px auto;
    font-size: 28px;
    font-family: "Lucida Console", Monaco, monospace;
}

.multiply_input,
.multiply_skip1,
.multiply_skip2 {
    font-size: 28pt;
    float: left;
    clear: both;
    width: 140px;
    margin: 5px 0 0 0;
    text-align: right;
}

.multiply_skip1 {
    width: 125px;
}

.multiply_skip2 {
    width: 100px;
}

.hr {
    float: left;
    clear: both;
    width: 190px;
    text-align: right;
    border-bottom: 5px solid #000;
    line-height: 0.1em;
    margin: 5px 0 10px;
}

.hr span {
    font-family: Arial;
    background: #fff;
    padding: 0 10px;
}

.big {
    font-size: 3em;
    margin: 20px auto;
}

.answer {
    font-size: 2em;
    margin: 20px auto;
}

input[type="text"],
input[type="textarea"],
input[type="number"] {
    font-size: 24px;
    margin: 2px -5px;
    border-radius: 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 3px;
}

input:disabled {
    text-align: center;
    background: transparent;
    border-bottom-width: 0;
}

.underline input:disabled {
    text-align: left;
    border-bottom-width: 3px;
}

input.seq_input {
    width: 3.5em;
    margin: 0 7px;
    text-align: center;
}

table.borderless {
    margin-bottom: 10px;
}

table.borderless td,
.borderless th,
.borderless tr {
    padding: 0 1px;
    border: none;
    font-size: 1.2em;
}

table.borderless tr.line {
    border-top: 2px solid #000;
}

.sum {
    margin-left: 50px;
}

.sum span,
.sum input {
    font-size: 22px;
    margin: 10px 0;
    padding: 0 10px;
}

.equation {
    font-size: 2em;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
}

.equation input[type="number"] {
    font-size: inherit;
    margin: 10px 5px;
    padding: 0 10px;
    width: 100px;
}

.smallinputs input {
    font-size: 22px;
    margin: 10px 5px;
    padding: 0 10px;
    width: 110px;
}

.smallinputs.xl input {
    width: 150px;
}

.smallinputs.xs input {
    width: 80px;
}

.smallinputs.xxs input {
    width: 50px;
}

.smallinputs.xs input:disabled,
.equation input:disabled {
    width: 60px;
}

.smallinputs.nomargin input {
    margin: 0;
}

#progressbar {
    background-color: #337ab7;
    padding: 2px 0;
    margin: 0 4px;
    height: 450px;
    width: 38px;
}

#progressbar>div {
    background-color: white;
    height: 0%;
    width: 30px;
    margin: 0 4px;
}

.wrapper {
    position: absolute;
}

.wrapper2 {
    position: absolute;
    left: 570px;
}

#explanation,
#result,
#scoreboard,
#answer {
    border: 3px #337ab7 solid;
}

#myCanvas {
    background-image: url(/img/blank-chalkboard-450x450.jpg);
    background-repeat: repeat-x;
}

#restart {
    margin: 10px 6px;
    padding: 5px 5px;
    background: #337ab7;
    color: white;
}

#scoreboard,
#explanation {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 500px;
    text-align: center;
}

#scoreboard {
    font-weight: bold;
    font-size: 2em;
}

span.mc-span {
    padding: 6px;
}

label {
    display: block;
    margin-bottom: 1.5em;
}

label>input {
    display: none;
}

label>i {
    margin-bottom: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 5px solid #337ab7;
    background: white;
    box-shadow: inset 0 0 0 4px white;
    -webkit-transition: .25s;
    transition: .25s;
}

label>span {
    display: inline-block;
    padding-bottom: 3px;
    /*border-bottom: 2px dotted #fff;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
}

label>input:checked+i {
    background: #337ab7;
}

label:hover {
    cursor: pointer;
}


/* Tooltip container */

.css-tooltip {
    position: relative;
    display: inline-block;
}

.css-tooltip .css-tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.css-tooltip .css-tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.css-tooltip:hover .css-tooltiptext {
    visibility: visible;
}

button.fixed {
    position: fixed;
}

button.correct {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

button.incorrect {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

span.correct {
    color: green;
}

span.incorrect {
    color: tomato;
}

.table-value-correct {
    color: green;
    background: url(/img/ok.png) no-repeat scroll 60px 5px;
}

.table-value-incorrect {
    color: tomato;
    background: url(/img/wrong.png) no-repeat scroll 60px 5px;
    text-decoration: line-through;
}

.boxcontainer {
    display: inline-block;
}

.centerrow {
    text-align: center;
}

.dragbox,
.dropbox,
.smalldragbox,
.regularbox,
.smalldropbox {
    float: left;
    width: 100px;
    height: 42px;
    min-height: 37px;
    margin: 10px;
    padding: 3px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.dragbox.large {
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
}

.smalldropbox,
.smalldragbox {
    width: 50px;
    background: #96c03d;
    border-radius: 8px;
}

.dropbox,
.smalldropbox {
    border: 2px solid black;
    border-radius: 5px;
}


/* --------------------------------

Basic Style

-------------------------------- */

.cd-breadcrumb,
.cd-multi-steps {
    line-height: normal;
    width: 90%;
    max-width: 1024px;
    /* padding: 0.5em 1em; */
    margin: 0 auto;
    background-color: #edeff0;
    border-radius: .25em;
}

.cd-breadcrumb:after,
.cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
}

.cd-breadcrumb li,
.cd-multi-steps li {
    display: inline-block;
    /* margin: 0.5em 0; */
}

.cd-breadcrumb li::after,
.cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .2em;
    color: #959fa5;
}

.cd-breadcrumb li:last-of-type::after,
.cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}

.cd-breadcrumb li>*,
.cd-multi-steps li>* {
    /* single step */
    display: inline-block;
    font-size: 1.4rem;
    color: #2c3f4c;
    vertical-align: middle;
}

.cd-breadcrumb li.current>*,
.cd-multi-steps li.current>* {
    /* selected step */
    color: #96c03d;
}

.no-touch .cd-breadcrumb a:hover,
.no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    color: #96c03d;
}

@media only screen and (min-width: 768px) {
    .cd-breadcrumb,
    .cd-multi-steps {
        padding: 0 1.2em;
    }
    .cd-breadcrumb li,
    .cd-multi-steps li {
        margin: 1.2em 0;
    }
    .cd-breadcrumb li::after,
    .cd-multi-steps li::after {
        margin: 0 1em;
    }
    .cd-breadcrumb li>*,
    .cd-multi-steps li>* {
        font-size: 1.6rem;
        vertical-align: initial;
    }
}


/* --------------------------------

Triangle breadcrumb

-------------------------------- */

@media only screen and (min-width: 768px) {
    .cd-breadcrumb.triangle {
        /* reset basic style */
        background-color: transparent;
        padding: 0;
    }
    .cd-breadcrumb.triangle li {
        position: relative;
        padding: 0;
        margin: 4px 4px 4px 0;
    }
    .cd-breadcrumb.triangle li:last-of-type {
        margin-right: 0;
    }
    .cd-breadcrumb.triangle li>* {
        position: relative;
        padding: 0.7em .5em 0.7em 1.5em;
        color: #2c3f4c;
        background-color: #edeff0;
        /* the border color is used to style its ::after pseudo-element */
        border-color: #edeff0;
    }
    .cd-breadcrumb.triangle li.current>* {
        /* selected step */
        color: #ffffff;
        background-color: #96c03d;
        border-color: #96c03d;
    }
    .cd-breadcrumb.triangle li:first-of-type>* {
        padding-left: 1.0em;
        border-radius: .25em 0 0 .25em;
    }
    .cd-breadcrumb.triangle li:last-of-type>* {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0;
    }
    .no-touch .cd-breadcrumb.triangle a:hover {
        /* steps already visited */
        color: #ffffff;
        background-color: #2c3f4c;
        border-color: #2c3f4c;
    }
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li>*::after {
        /*
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
        content: '';
        position: absolute;
        top: 7px;
        left: 100%;
        height: 0;
        width: 0;
        border: 20px solid transparent;
        border-right-width: 0;
        border-left-width: 16px;
    }
    .cd-breadcrumb.triangle a::after {
        top: 0;
    }
    .cd-breadcrumb.triangle li::after {
        /* this is the white separator between two items */
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #ffffff;
        /* reset style */
        margin: 0;
    }
    .cd-breadcrumb.triangle li>*::after {
        /* this is the colored triangle after each element */
        z-index: 2;
        border-left-color: inherit;
    }
    .cd-breadcrumb.triangle li:last-of-type::after,
    .cd-breadcrumb.triangle li:last-of-type>*::after {
        /* hide the triangle after the last step */
        display: none;
    }
    .cd-breadcrumb.triangle.custom-icons li::after,
    .cd-breadcrumb.triangle.custom-icons li>*::after {
        /* 50px is the height of the <a> element */
        border-top-width: 25px;
        border-bottom-width: 25px;
    }
    @-moz-document url-prefix() {
        .cd-breadcrumb.triangle li::after,
        .cd-breadcrumb.triangle li>*::after {
            /* fix a bug on Firefix - tooth edge on css triangle */
            border-left-style: dashed;
        }
    }
}

.audio-lecture {
    text-align: right;
}

span.circle {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    font-size: 14px;
}

span.circle:before,
span.circle:after {
    content: '\200B';
    display: inline-block;
    line-height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
}

span.circle:before {
    padding-left: 8px;
}

span.circle:after {
    padding-right: 8px;
}

.matrix td,
#matrix td {
    min-width: 25px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.matrix td input,
#matrix td input {
    width: 100px;
    text-align: center;
    text-align: -webkit-center;
}

.matrix.noinnerborders table tr td,
#matrix.noinnerborders table tr td {
    border: none !important;
}

td.selected-item {
    background: lightgray;
}

li.selected-item {
    background: lightgray;
    border-radius: 20px;
}

td.selected-item.correct,
li.selected-item.correct,
select.correct,
label.correct span,
input.correct {
    background: lightgreen;
}

label.correct span,
label.incorrect span {
    border-radius: 10px;
}

li.selected-item.incorrect,
td.incorrect,
select.incorrect,
label.incorrect span,
input.incorrect {
    background: tomato;
}

.linewithnumbers:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    height: 10px;
    left: 50%;
    border-left: 4px solid #000000;
}

div.linewithnumbers div {
    text-align: center;
    margin-top: 20px;
}

div.linewithnumbers input {
    text-align: right;
    width: 60px;
    margin: 20px auto;
    /*margin-left: 10px;*/
}

div.linewithnumbers input:disabled {
    background-color: transparent;
    border-bottom-width: 0;
}

div.linewithnumbers.standout input:disabled {
    font-weight: bold;
    color: red;
}

div.linewithnumbers {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 70px;
    height: 70px;
    border-top: 4px solid #333;
    position: relative;
    text-align: center;
    margin-right: -4px;
}

.treesplit rect {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 2px;
}

.treesplit line {
    stroke: grey;
    stroke-width: 3px;
}

.vertical-separator {
    vertical-align: top;
    margin-left: 10px;
    border-left: thick solid #96C03D;
    padding-left: 20px;
}


/*#treesvg g text:hover,
  #treesvg g rect:hover {
    cursor: pointer;
  }*/

.treesplit {
    border: 1px solid grey;
}

.treesplit #labelpos {
    color: white;
}

.treesplit #g_labels text {
    text-anchor: middle;
    font-weight: bold;
    fill: white;
}

.treesplit #g_elabels text {
    text-anchor: middle;
    fill: red;
    font-weight: bold;
}

ul.list-inline img {
    vertical-align: bottom;
}


/** Creating a triangle */

.trianglebase {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #ff9900 transparent;
}

.trianglebase.type1 {
    border-width: 0 255px 100px 255px;
}

.trianglebase.type2 {
    border-width: 0 50px 50px 50px;
}


/** Creating a circle */

#smallmargins>ul {
    margin: 0px;
}

.circlebase {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #000;
}

.circlebase.type1 {
    background: red;
}

.circlebase.type2 {
    background: yellow;
}

.totop li.list-inline-item {
    vertical-align: top;
}

.tomiddle li.list-inline-item {
    vertical-align: middle;
}

.tocenter .table>tbody>tr>td {
    text-align: center;
    margin-right: 10px;
}

.tocenter input {
    text-align: right;
    margin: 0;
}

.rightarrowtip {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 10px;
    border-color: transparent transparent transparent gray;
}

#arrow,
#arrowStart {
    fill: red;
    stroke-width: 1;
}

.linesegment {
    stroke: red;
    stroke-width: 1;
    fill: none;
}

.linesegment.dashed {
    stroke-dasharray: 5;
}


/** End creating a circle */

.select-control {
    margin: 2px 4px;
    padding: 6px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

span.stain {
    display: inline-block;
    background: url(/img/stain24.png) no-repeat;
    width: 1em;
    height: 1em;
}

span.stain-sm {
    display: inline-block;
    background: url(/img/stain16.png) no-repeat;
    width: 1em;
    height: 1em;
}

span.stain2x {
    display: inline-block;
    background: url(/img/stain32.png) no-repeat;
    width: 1.5em;
    height: 1.5em;
}

.infobox {
    background: #96C03D;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
}

#introbox {
    text-align: center;
    /* background: #96c03d;
    margin: -10px;
    padding: 10px 0; */
    font-style: italic;
    text-decoration: underline;
}

.table-split {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background: lightgreen;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-collapse: inherit;
}

.table-split .split {
    font-size: 1.5em;
    text-align: center;
    line-height: .5em;
}

.table-split .join {
    vertical-align: top;
    font-size: 3em;
    text-align: center;
    line-height: .5em;
    color: gray;
}

table.counting-numbers {
    border: 2px solid black;
    border-collapse: collapse;
}

table.counting-numbers td {
    border: 2px solid black;
    padding: 5px;
}

table.count-numbers {
    text-align: center;
    border-collapse: separate;
    border-spacing: 3px 3px;
}

table.count-numbers td {
    border: 2px solid black;
    padding: 5px;
    margin: 3px;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-weight: bold;
}

table.count-numbers td.interactive {
    cursor: pointer;
}

table.count-numbers td.empty {
    border: 1px solid gray;
    color: gray;
}

table.count-numbers td.full {
    background: #337ab7;
    color: white;
}

table.count-numbers td.add {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    background: #fec44f;
}

table.count-numbers td.remove {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    background: #8da9c2;
}

.abacus.small table td {
    width: 15px;
    height: 15px;
}

.uncrossed,
.crossed {
    position: relative;
    background: transparent;
    padding: 0px;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.crossed:before,
.crossed:after {
    position: absolute;
    content: '';
    background: rgba(255, 0, 0, 0.8);
    display: block;
    width: 100%;
    height: 10px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.crossed:after {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*.crossed {
  position: relative;
  width: 100px;
  height: 75px;
}

.crossed:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 110%;
  top: 0;
  left: 45%;
  border-left: 3px solid red;
  box-sizing: border-box;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}*/


/* Cube-counter element style */

.cc .text {
    color: black;
    fill: black;
    font-size: 64px;
    font-weight: bold;
    dominant-baseline: text-before-edge;
}

.cc .rect_transparent,
.cc .rect {
    fill: #25EF45;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.cc .top_transparent,
.cc .top {
    fill: darkgreen;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.cc .side_transparent,
.cc .side {
    fill: darkgreen;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.cc .rect_transparent,
.cc .top_transparent,
.cc .side_transparent {
    fill: white;
}

.cc .line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}


/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}