/* .leaflet-container {
    height: 100vh;
} */

.rect-avatar {
    position: absolute;
    height: 42px;
    width: auto;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.orbat {
    z-index: 10000;
    background: transparent;
    width: 17%;
    background: transparent;
    position: absolute;
    left: 20px;
    top: 70px;
}

.prop-editor {
    z-index: 10000;
    background: transparent;
    width: 17%;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 70px;
}