<template>
  <div show.bind="track">
    <div style="padding: 10px 20px;">
      <div>
        <md-input md-label="Name" md-value.bind="track.title"></md-input>
        <md-input md-label="Description" md-value.bind="track.description"></md-input>
        <div if.bind="track">
          <select md-select="label: key frame" value.two-way="activeFeature" change.delegate="timeIndexChanged(track)">
            <option value="" disabled selected>select key frame</option>
            <option repeat.for="feature of track.features" model.bind="feature">${ $index }</option>
          </select>
        </div>
        <div repeat.for="prop of createEntityViewModel(track.activeTimeIndex, track)">
          <md-input md-label.one-time="prop.title" md-type.bind="prop.propertyType" md-step="1" md-value.bind="track.features[track.activeTimeIndex].properties[prop.id]"></md-input>
        </div>
        <div class="button-row">
          <a href="!#" click.delegate="add(track)" class="tooltipped" data-position="bottom" data-delay="50"
            data-tooltip="Add a new key frame">
            <i class="material-icons">playlist_add</i>
          </a>
          <a href="!#" click.delegate="delete(track)" class="tooltipped" data-position="bottom" data-delay="50"
            data-tooltip="Delete entity or key frame">
            <i class="material-icons">delete_forever</i>
          </a>
          <a href="!#" click.delegate="save(track)" class="tooltipped" data-position="bottom" data-delay="50"
            data-tooltip="Save properties">
            <i class="material-icons">save</i>
          </a>
        </div>
      </div>
      <div show.bind="selectedTracks.length > 1" style="text-align: center;">
        <md-pagination md-on-page-changed.delegate="onPageChanged($event)" md-show-first-last="false" md-show-prev-next="true" md-show-page-links="true"
          md-pages.bind="selectedTracks.length" md-visible-page-links="3" md-active-page.bind="activePage"></md-pagination>
      </div>
    </div>
  </div>

  <!-- <div class="collapsible-accordion">
    <ul md-collapsible="accordion: true;">
      <li repeat.for="track of tracks">
        <div class="collapsible-header">${track.title || track.id}</div>
        <div class="collapsible-body">
          <select md-select="label: select key frame" value.two-way="track.activeTimeIndex" change.delegate="timeIndexChanged(track)">
            <option value="" disabled selected>select key frame</option>
            <option repeat.for="feature of track.features" value.bind="$index">${ $index }</option>
          </select>
          <md-input md-label="Name" md-value.bind="track.title"></md-input>
          <md-input md-label="Description" md-value.bind="track.description"></md-input>
          <div if.bind="track.isSelected" repeat.for="prop of createEntityViewModel(track.activeTimeIndex, track)">
            <md-input md-label.one-time="prop.title" md-type.bind="prop.propertyType" md-step="1" md-value.bind="track.features[track.activeTimeIndex].properties[prop.id]"></md-input>
          </div>
          <div class="button-row">
            <a href="!#" click.delegate="add(track)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add a new key frame">
              <i class="material-icons">playlist_add</i>
            </a>
            <a href="!#" click.delegate="delete(track)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete entity or key frame">
              <i class="material-icons">delete_forever</i>
            </a>
            <a href="!#" click.delegate="save(track)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Save properties">
              <i class="material-icons">save</i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div> -->

</template>